<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    
    {% load static %}
    
        <link rel="stylesheet" href="{% static 'core_module/base.css' %}?{% now 'U' %}">
        <link rel="stylesheet" href="{% static 'core_module/register.css' %}?{% now 'U' %}">
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.1/dist/css/uikit.min.css" />

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" defer ></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.1/dist/js/uikit.min.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.1/dist/js/uikit-icons.min.js" defer></script>


</head>
<body>
    <div class="nav-bg">
        <nav class="container d-flex d-inline justify-content-center justify-content-around">
            <div class="justify-content-around">
                <div class="p-3">
                    <ul class="d-flex d-inline justify-content-center justify-content-around m-0 p-0">
                        <li class="text-secondary list-unstyled fw-bold ">
                            <h4 class="m-0">
                                <a href="" class="text-light text-decoration-none">Park [: :]</a>
                            </h4>
                        </li>
                    </ul>
                </div>
            </div>
            <div class=""><span class="navbar-toggler-icon"></span></div>

            <div class="uk-navbar-left">
                <div class=" justify-content-around">
                    <div class="p-3 ">
                        <ul class=" d-flex m-0 p-0">
                            <li class="text-light list-unstyled fw-bold pe-4">
                                <h4 class="m-0">
                                    <a href="{% url 'home' %}" class="text-light text-decoration-none">Home</a>
                                </h4>
                            </li>
                            
                            <li class="text-light list-unstyled fw-bold ">
                                {% if user.is_authenticated %}
                                    {{user.username}}
                                {% else %}
                                    <h4 class="m-0">
                                        <a href="{% url 'register' %}" class=" text-light text-decoration-none">Register</a>
                                    </h4>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            
        </nav>
    </div>
    
    {% block content %}

    {% endblock %}

    <footer class="bg-gradient bg-gradient bg-info bg-opacity-25">
        <div class="p-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-6  ">
                        <div class="d-flex justify-content-center">
                            <h6 class=""><b>Thank you for using !</b></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
</body>
</html>