{% extends 'core_module/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

<link rel="stylesheet" href="{% static 'core_module/register.css' %}?{% now 'U' %}">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.1/dist/css/uikit.min.css" />

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" defer ></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.15.1/dist/js/uikit.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.15.1/dist/js/uikit-icons.min.js" defer></script>


{% block content %} 
<div class="container d-flex justify-content-center">
    <form method="post" class="form-register">
        <fieldset class="uk-fieldset">
            <legend class="uk-legend mb-2 mt-2"><b>Register here</b></legend>
            {% csrf_token %}
            {% for fm in form %}

                {{fm.label}}
                {{fm}}
                {{fm.errors}}
                
            {% endfor %}
            <div class="d-flex justify-content-between">
                <p class="pt-2 m-0">Already have a account <a href="{% url 'login' %}" class="text-decoration-none">Login here</a></p>
                <p></p>
                <button class="uk-button uk-button-primary d-flex float-end" type="submit">Register</button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}